### Files and directories to ignore for Git commits and updates.

# Compiled scripts:
*.pyc

# Settings and templates:
*.ini
*.kws
*.par
*.var
*.sub

# Output files:
*.json
*.csv
*.tsv
*.out

# Directories: 
./data/*
*.ipynb
*.sb
